[class*='zero padding'] {
    padding: 0 !important;
}

[class*='zero top padding'],
[class*='zero vertical padding'] {
    padding-top: 0 !important;
}

[class*='zero bottom padding'],
[class*='zero vertical padding'] {
    padding-bottom: 0 !important;
}

[class*='zero right padding'],
[class*='zero horizontal padding'] {
    padding-right: 0 !important;
}

[class*='zero left padding'],
[class*='zero horizontal padding'] {
    padding-left: 0 !important;
}

[class*='zero margin'] {
    margin: 0 !important;
}

[class*='zero top margin'],
[class*='zero vertical margin'] {
    margin-top: 0 !important;
}

[class*='zero bottom margin'],
[class*='zero vertical margin'] {
    margin-bottom: 0 !important;
}

[class*='zero right margin'],
[class*='zero horizontal margin'] {
    margin-right: 0 !important;
}

[class*='zero left margin'],
[class*='zero horizontal margin'] {
    margin-left: 0 !important;
}

/* 0.25 rem */
[class*='mini padding'] {
    padding: 0.25rem !important;
}

[class*='mini top padding'],
[class*='mini vertical padding'] {
    padding-top: 0.25rem !important;
}

[class*='mini bottom padding'],
[class*='mini vertical padding'] {
    padding-bottom: 0.25rem !important;
}

[class*='mini right padding'],
[class*='mini horizontal padding'] {
    padding-right: 0.25rem !important;
}

[class*='mini left padding'],
[class*='mini horizontal padding'] {
    padding-left: 0.25rem !important;
}

[class*='mini margin'] {
    margin: 0.25rem !important;
}

[class*='mini top margin'],
[class*='mini vertical margin'] {
    margin-top: 0.25rem !important;
}

[class*='mini bottom margin'],
[class*='mini vertical margin'] {
    margin-bottom: 0.25rem !important;
}

[class*='mini right margin'],
[class*='mini horizontal margin'] {
    margin-right: 0.25rem !important;
}

[class*='mini left margin'],
[class*='mini margin horizontal'] {
    margin-left: 0.25rem !important;
}

/* 0.5 rem */
[class*='tiny padding'] {
    padding: 0.5rem !important;
}

[class*='tiny top padding'],
[class*='tiny vertical padding'] {
    padding-top: 0.5rem !important;
}

[class*='tiny bottom padding'],
[class*='tiny vertical padding'] {
    padding-bottom: 0.5rem !important;
}

[class*='tiny right padding'],
[class*='tiny horizontal padding'] {
    padding-right: 0.5rem !important;
}

[class*='tiny left padding'],
[class*='tiny horizontal padding'] {
    padding-left: 0.5rem !important;
}

[class*='tiny margin'] {
    margin: 0.5rem !important;
}

[class*='tiny top margin'],
[class*='tiny vertical margin'] {
    margin-top: 0.5rem !important;
}

[class*='tiny bottom margin'],
[class*='tiny vertical margin'] {
    margin-bottom: 0.5rem !important;
}

[class*='tiny right margin'],
[class*='tiny horizontal margin'] {
    margin-right: 0.5rem !important;
}

[class*='tiny left margin'],
[class*='tiny horizontal margin'] {
    margin-left: 0.5rem !important;
}

/* 1 rem */
[class*='small padding'] {
    padding: 1rem !important;
}

[class*='small top padding'],
[class*='small vertical padding'] {
    padding-top: 1rem !important;
}

[class*='small bottom padding'],
[class*='small vertical padding'] {
    padding-bottom: 1rem !important;
}

[class*='small right padding'],
[class*='small horizontal padding'] {
    padding-right: 1rem !important;
}

[class*='small left padding'],
[class*='small horizontal padding'] {
    padding-left: 1rem !important;
}

[class*='small margin'] {
    margin: 1rem !important;
}

[class*='small top margin'],
[class*='small vertical margin'] {
    margin-top: 1rem !important;
}

[class*='small bottom margin'],
[class*='small vertical margin'] {
    margin-bottom: 1rem !important;
}

[class*='small right margin'],
[class*='small horizontal margin'] {
    margin-right: 1rem !important;
}

[class*='small left margin'],
[class*='small horizontal margin'] {
    margin-left: 1rem !important;
}

/* 1.5 rem */
[class*='medium padding'] {
    padding: 1.5rem !important;
}

[class*='medium top padding'],
[class*='medium vertical padding'] {
    padding-top: 1.5rem !important;
}

[class*='medium bottom padding'],
[class*='medium vertical padding'] {
    padding-bottom: 1.5rem !important;
}

[class*='medium right padding'],
[class*='medium horizontal padding'] {
    padding-right: 1.5rem !important;
}

[class*='medium left padding'],
[class*='medium horizontal padding'] {
    padding-left: 1.5rem !important;
}

[class*='medium margin'] {
    margin: 1.5rem !important;
}

[class*='medium top margin'],
[class*='medium vertical margin'] {
    margin-top: 1.5rem !important;
}

[class*='medium bottom margin'],
[class*='medium vertical margin'] {
    margin-bottom: 1.5rem !important;
}

[class*='medium right margin'],
[class*='medium horizontal margin'] {
    margin-right: 1.5rem !important;
}

[class*='medium left margin'],
[class*='medium horizontal margin'] {
    margin-left: 1.5rem !important;
}

/* 2 rem */
[class*='large padding'] {
    padding: 2rem !important;
}

[class*='large top padding'],
[class*='large vertical padding'] {
    padding-top: 2rem !important;
}

[class*='large bottom padding'],
[class*='large vertical padding'] {
    padding-bottom: 2rem !important;
}

[class*='large right padding'],
[class*='large horizontal padding'] {
    padding-right: 2rem !important;
}

[class*='large left padding'],
[class*='large horizontal padding'] {
    padding-left: 2rem !important;
}

[class*='large margin'] {
    margin: 2rem !important;
}

[class*='large top margin'],
[class*='large vertical margin'] {
    margin-top: 2rem !important;
}

[class*='large bottom margin'],
[class*='large vertical margin'] {
    margin-bottom: 2rem !important;
}

[class*='large right margin'],
[class*='large horizontal margin'] {
    margin-right: 2rem !important;
}

[class*='large left margin'],
[class*='large horizontal margin'] {
    margin-left: 2rem !important;
}
